<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HTML FORMS</h1>
    <form action="/submit" method='POST'>
    <label for="Science">Science</label>
    <input type="number" name="science" id="science",value="0"><br>
    <br><label for="Maths">Maths</label>
    <input type="number" name="maths" id="maths",value="0"><br>
    <br><label for="C">C</label>
    <input type="number" name="c" id="c",value="0"><br>
    <br><label for="DataScience">Data Science</label>
    <input type="number" name="datascience" id="dataScience",value="0"><br>
    <br><input type="submit" value="Submit">
    <input type="reset" value="reset">
</form>
<p>If you click the submit button , the data will be sent to page</p>
</body>
</html>